extends layout

block content
  div(class='howTo') ～遊び方～
    p ボムを置きます。ボムが爆発すると四方が自分の色で塗られます。また爆発の範囲に別のボムがあれば誘爆します。</p>
    p 自分の色である領域の四方を囲むと、その領域も自分の色で塗られます。</p>
    p ゲーム終了時に対戦相手より多くのマスを塗っているプレイヤーの勝ちとなります。</p>
 