extends layout

block content
  div(class='howTo') ～遊び方～
    p 部屋を立ててRoom Masterになる、もしくは既に立っている部屋にメンバーとして入る等してゲーム画面に移行します。
    p RMはバトルモードを切り替えることができます。
    p メンバーでゲームに参加したい人は参戦ボタンを押して参戦します。参戦者が揃ってからRMが開戦ボタンを押すとゲームが始まります。
    p ←,↑,↓,→もしくはA,W,S,Dキーを押すとキャラクターを移動できます。また、B,Jキーを押すとボムを置くことができます。
    p ボムが爆発すると四方が自分の色で塗られます。また爆発の範囲に別のボムがあれば誘爆します。爆発の範囲にプレーヤーがいた場合、そのプレーヤーを爆殺できます。
    p 自分の色である領域の四方を囲むと、その領域も自分の色で塗ることができます。
    p 対戦相手を爆殺するか、ゲーム終了時に対戦相手より多くのマスを塗っているプレイヤーの勝ちとなります。