extends layout


block content
  div(id='top') 部屋を取得しています
  div(class='conteiner')
    div(class='row')
      div(class='col-xs-12 col-md-6')
        div(id='match-target')
      div(class='col-xs-12 col-md-5')
        div(id='participate-target')
      div(class='col-xs-12 col-md-5')
        div(id='chat-target')
      div(class='col-xs-12 col-md-5')
        div(id='member-target')


      span(id="url-data" data-id="#url")
  
  audio(id="setBombSound" src="/sounds/packun_eating.mp3" preload="auto")
  audio(id="explodeSound" src="/sounds/explode_sound.mp3" preload="auto")
  audio(id="obtainSound" src="/sounds/obtain_sound.mp3" preload="auto")
  script(src="/javascripts/bundle.js")