body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#header {
  background-color: black;
  padding-left: 20px;
}
  #header a {
    font-family : 'Impact';
    font-size: 30px;
    text-decoration : none;
    color: white;
  }
#nav {
  border-bottom: solid 1px gray;
}
  #nav a {
    margin-left: 20px;
  }

#top {
  margin: 20px;
}
  #top #make-room {
    border-top: 1px solid gray;
    background-color: lightgreen;
    margin-top: 10px;
    padding: 10px;
    
  }

#canvas {
  border: solid 1px gray;
  margin: 30px 0 30px 20px;
}
  
  
#participate-target {
  height: 200px;
  margin-bottom: 30px;
}
  #participate-target #match-start-button {
    margin-right: 20px;
  }
#speak-form {
  margin-bottom: 20px;
}
#chat-content {
  height: 350px;
  max-height: 350px;
  word-wrap: break-word;
	overflow: scroll;
	border: 0.5px solid navy;
}
  #chat-content .chat-message {
    border-bottom: 0.5px solid gray;
  }
  
.howTo,.material,.changeLog {
  margin: 40px;
}